* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;


}


.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

.center {
    padding: 0 calc(50% - 570px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(236, 236, 236, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.D {
    font-family: 'Lato';
    font-size: 27px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
}

.header__form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.button {
    border: 1px black;
    width: 130px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image: url(img/1186.png);
    border-radius: 2px;
    font-family: 'Lato';
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 32px;
    right: 400px;
}

.button3 {
    border: 1px solid rgba(230, 230, 230, 1);
    width: 87px;
    height: 38px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
    line-height: 32px;
    background-color: whitesmoke;
}

.Search {
    display: flex;
    position: absolute;
    left: 675px;
    width: 288px;
    height: 38px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 0px 3px 3px 0px;
    padding-left: 15px;
}

.Search_logo {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    display: flex;
    position: absolute;
    left: 941px;
    width: 40px;
    height: 38px;
    justify-content: center;
}

.arrow2 {
    display: flex;
    position: absolute;
    top: 47px;
    left: 659px;
    justify-content: center;
    align-items: center;
}

.arrow3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1635px;
    top: 47px;
}


.header__cart {
    margin-right: 26px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 530px;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Lato';
    font-size: 27px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase
}

.logo__img {
    margin-right: 13px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu__link {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

.promo {
    background-color: #e8e8e8;
}

.promo__content {
    height: 613px;
    background-image: url(img/promo.png);
    background-position: bottom;
}


.THE_BRAND {
    font-family: 'Lato';
    font-size: 60px;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
    display: flex;
    letter-spacing: 0.03em;
    position: absolute;
    top: 376px;
    left: 420px     
}

.OF_LUXERIOUS {
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
    display: flex;
    letter-spacing: 0.03em;
    position: absolute;
    top: 445px;
    left: 420px;    
}

.FASHION {
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    display: flex;
    position: absolute;
    top: 445px;
    left: 730px;
    letter-spacing: 0.03em;
}

.stripe {
    display: flex;
    position: absolute;
    left: 195px;
    bottom: 60px;
}

.Category {
   height: 1041px;
   padding-top: 98px;

}



.Category_banner1 {
    background-image: url(img/banner1.png);
    height: 542px;
    width: 560px;
    position: absolute;
display: flex;
justify-content: flex-start;

}

.HOT_DEAL,
.offer {
    height: 82px;
    width: 175px;
    position: absolute;
    color:rgba(34, 34, 34, 1);
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.03em;
    margin-top: 26px;
    padding-left: 11px;
    border: 2px solid whitesmoke;
    background-color: white;


}

.FOR_MEN,
.women  {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    margin-top: 55px;
    margin-left: 10px;
}

.Category_banner2 {
    background-image: url(img/banner2.png);
    height: 261px;
    width: 560px;
    position: absolute;
    top: 1431px;
    display: flex;
    justify-content: flex-start;


}

.LUXIROUS_AND_trendy {
    height: 82px;
   width: 230px;
    position: absolute;
    color:rgba(34, 34, 34, 1);
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.03em;
    margin-top: 26px;
    padding-left: 11px;
    border: 2px solid whitesmoke;
    background-color: white; 
}

.ACCESORIES {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    margin-top: 55px;
    margin-left: 10px;
     
}

.Category_banner3 {
    background-image: url(img/banner3.png);
    height: 261px;
    width: 560px;
    position: absolute;
    left: 962px;
    display: flex;
    justify-content: flex-start;
    
    

}

.Category_banner4 {
    background-image: url(img/banner4.png);
    height: 542px;
    width: 560px;
    position: absolute;
    top: 1150px;
    left: 962px;
    display: flex;
    justify-content: flex-start;
    
}

.new_arrivals  {
    font-family: 'Lato';
font-size: 18px;
font-weight: 900;
color: rgba(34, 34, 34, 1);
letter-spacing: 0.03em;
text-transform: uppercase;
margin-top: 26px;
padding-left: 11px;
border: 2px solid whitesmoke;
background-color: white;
position: absolute;
width: 180px;
height: 82px;
}

.FOR_kids {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    margin-top: 55px;
    margin-left: 10px;
 }

 .Fetured_Items {
     width: 1903px;
     height: 982px;
 }

 .Fetured_Items_h2 {
    position: relative;
    height: 23px;    
    font-family: 'Lato';
    font-size: 30px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);    
    letter-spacing: 0.03em;
    line-height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .Fetured_Items_p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 16px;
    height: 12px;
    font-family: 'Lato';
    font-size: 14px;
    color: rgba(159, 159, 159, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 54px; 
    margin-bottom: 60px;
 }

 .image1 {
     width: 261px;
     background-image: url(img/image1.png);
     display: flex;
     position: absolute;
     align-items: flex-start;
     justify-content: flex-start;
     height: 280px;
 }

 .image2 {
    width: 261px;
    background-image: url(img/image2.png);
    display: flex;
    position: absolute;
    left: 675px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 280px;
    
}

.image3 {
    width: 261px;
    background-image: url(img/image3.png);
    display: flex;
    position: absolute;
    left: 970px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 280px;
    
}

.image4 {
    width: 261px;
    background-image: url(img/image4.png);
    display: flex;
    position: absolute;
    left: 1260px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 280px;
    
}

.image5 {
    width: 261px;
    background-image: url(img/image5.png);
    display: flex;
    position: absolute;
    bottom: -2000px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 280px;
   
}

.image6 {
    width: 261px;
    background-image: url(img/image6.png);
    display: flex;
    position: absolute;
    bottom: -2000px;
    left: 675px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 280px;
    
}

.image7 {
    width: 261px;
    background-image: url(img/image7.png);
    display: flex;
    position: absolute;
    bottom: -2000px;
    left: 970px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 280px;
    
}

.image8 {
    width: 261px;
    background-image: url(img/image8.png);
    display: flex;
    position: absolute;
    bottom: -2000px;
    left: 1260px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 280px;
    
}

 .image1_info {
    font-family: 'Lato';
    font-size: 13px;
    color: rgba(34, 34, 34, 1);
    text-transform: uppercase;
    position: relative;
    top: 300px;
    left: 14px;
 }

 .image1_price {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    position: relative;
    top: 324px;
    right: 138px;
 }

 .Fill {
    position: relative;
    top: 100px;
    left: 90px;
 }

 .button_Cart {
    
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 54px;
    position: relative;
    top: -54px;
    left: 20px;
 }

 .button2 {
    position: absolute;
    bottom: -2190px;
    left: 850px; 
    height: 48px;
    width: 212px;
 }

 .arrow {
    position: relative;
    top: -55px;
    left: 25px;
 }






















.footer {
    height: 100px;
    background-color: #ccc;
}